<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<form th:action="@{/cursos/agregar}" th:object="${curso}" method="POST">
    <div class="form-group">
        <label>ID</label>
        <input type="text" name="id" th:field="*{id}"
               class="form-control"
               placeholder="ID del curso"/>
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre" th:field="*{nombre}"
               class="form-control"
               placeholder="Nombre del curso"/>
    </div>
    <div class="form-group">
        <label>Instructor</label>
        <input type="text" name="instructor" th:field="*{instructor}"
               class="form-control"
               placeholder="Instructor"/>
    </div>
    <div class="box-footer">
        <button type="submit">Crear</button>
    </div>

</form>
</body>
</html>